/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --primary-color: rgb(251, 123, 16);
  --secondary-color: rgb(32, 163, 57);
  --body-color: rgb(255, 255, 255);
  --box-color: rgb(227, 227, 227);
  --text-color: rgb(56, 56, 56);
  --btn-color: rgb(220, 220, 220);
  --screen-color: rgb(255, 255, 255);
}
body.dark-theme {
  --body-color: rgb(56, 56, 56);
  --box-color: rgb(84, 84, 84);
  --text-color: rgb(255, 255, 255);
  --btn-color: rgb(100, 100, 100);
  --screen-color: rgb(155, 155, 155);
}

/* Font & Typography */

/* Font Weight */

/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
button {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  transition: color 0.4s;
}

body {
  background-color: var(--body-color);
  transition: background-color 0.4s;
}
